<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "../static/style/style.css">
      <title> PDF Merge Tool</title>
   </head>
   <body>
      <h2>PDF Merge Tool</h2>
      <h3>Choose your PDFs sequentially (e.g. 1.pdf, 2.pdf, 3.pdf) and then submit them.</h3> 
      <ul>
         <li>This tool will merge/combine several seperate PDF files into one PDF file</li>
         <li>Navigate to the folder containing the PDf files needed. You can choose more than one file via holding the shift key while selecting the PDF files.</li>
         <li>Once finished with selection, clcik the 'Submit' button.</li>
         <li>After a few moments a new PDF will open containing the PDFs merged as one.</li>
         <li>Now you can print or save to a file, via the 'arrow' or the 'printer' icon in the upper-right of the browser.</li>
      </ul>
   </br>
   <small>example of choosing the PDF files to merge.</small>
</br>
   <image border="1px" src="../static/Screenshot 2024-10-02 153549.png"/>
   <hr>
<div id="boxed">
   <p style="color: crimson; font-weight: bold;">Please choose the PDF files below:</p>
<form action = "http://192.168.156.205:5000/pdfmerge" method = "POST" enctype = "multipart/form-data">
   <input type  = "file" name = "file" multiple/>
   <input type = "submit" />
</div>
   <hr>
   <p>Need more help? <a href="mailto:sconrad@securitytechlabs.com">Email</a> Shawn or call @ <i>469-803-7342.</i></p>
</form>
   </body>
</html>